@import '../../styles/component-style';
@import '../../styles/button-style'; 
@import '../../styles/form-style'; 


@media only screen and (max-width: 600px) {
    .placeholder {
        display:flex;
        flex-direction: column; 
        justify-content: center; 
        .form-container{
            width:100%;
            form {
                align-self: center;
                display:flex;
                flex-direction: column; 
                align-self: center;
                display: flex;
                align-items:center;
                .input-container {
                    width:100%;
                    label {
                        font-size: 16pt;
                    }
                    input {
                        width:100%;
                    }
                }
                .select-container{
                    width: 100%;
                    border:none;
                    label {
                        font-size: 16pt;
                    }
                }
                .cta-search{
                    width:100%;
                    cursor:touch;
                    text-decoration:none;
                    button {
                        cursor:touch;
                        height:100%;
                        font-size: 16pt;
                    }
                }

            }

        }
    }

}

    .placeholder {
        @include content-container; 
        background-color: white !important;
        border:2px solid rgba(128, 128, 128, 0.591);
        box-shadow: 10px 10px  rgba(128, 128, 128, 0.591);
        .form-container{
            @include form-container; 
            form {
                .input-container {
                    padding-top: 50px;
                    width:100%;
                    border:none;
                    input {
                        background-color: whitesmoke;
                        @include input;
                    }
                    label {
                        @include label; 
                    }
                }
                .select-container{
                    text-align: center;
                    border:none;
                    width:100%;
                    label {
                        @include label;
                    }
                    input {
                        background-color: whitesmoke;
                        border:none;
                        width:30%;
                        padding:10px;
                        border-radius:8px;
                        margin-bottom: 10px;
                        margin-left:10px;
                
                    }
                }
                .cta-search{
                    @include button-container; 
                    button {
                        @include main-button;
                    }:disabled {
                        @include button-disabled; 
                    }
                }
                .time-container {
                    padding-top: 50px;
                    width:80%;
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    justify-content: center;
                    .find-time {
                        border:none;
                        h4 {
                            text-align: center;
                            margin:0;
                            font-size:14pt;
                        }
                        label {
                            font-size:14pt;
       
                        }
                        .available-time {
                            background-color:white;
                            padding: 10px;
                            border-radius:8px;
                            margin:5px;
                            label {
                                padding-left:10px;
                            }
                            input {
                                align-self: left;
                                padding:10px;
                            }
                        }
                        .not-available {
                            h4 {
                                padding:10px;
                                text-decoration: line-through;
                                width:100%;
                                color:darkblue;
                            }
                        }
                    }
                    .cta-form {
                        // @include button-container; 
                        background-color: transparent;
                        button {
                             @include main-button; 
                        }
                        button:disabled {
                            @include button-disabled; 
                        }
                    }
                }
            }

        }
    }




