@mixin button-container {
    transition: background-color 0.7s, transform 0.7s;
    align-self: center;
    align-content: center;
    border:none;
    cursor:pointer;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
}
@mixin main-button {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    border:none;
    text-decoration: none;
    background-color: #4e6096; 
    color:white;
    width:100%;
    padding:11px 55px;
    border-radius:42px;
} 
@mixin button-hover {
    background-color: #9fb4f2; 
}
@mixin button-disabled {
        background-color: lightslategrey;
}