@mixin button-container {
    transition: background-color 0.7s, transform 0.7s;
    align-self: center;
    align-content: center;
    border:none;
    cursor:pointer;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
}
@mixin main-button {
    text-align: center;
    font-size: 14pt;
    border:none;
    text-decoration: none;
    color:rgb(24, 24, 32);
    padding:11px 55px;
    background-color: white; 
    border:2px solid black;
} 
@mixin button-hover {
    background-color: #9fb4f2; 
}
@mixin button-disabled {
        background-color:lightgrey;
}