@mixin button-link {
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    padding:15px;
    border:none;
    text-decoration: none;
    background-color:rgba(247, 66, 0, 0.925);
    color:white;
    border:none;
    width:20%;
    box-shadow:5pt 1pt 9pt gray;
    transition: background-color 0.7s, transform 0.7s;
} 
@mixin content-container {
    background-color: whitesmoke;
    width:60%;
    height:600px;
}

