@mixin label {
        font-size: 16pt;
        font-weight: bold;
        padding-bottom:10px;
        margin-bottom:10px;
}
@mixin input {
    input {
        align-self: center;
        display:flex;
        flex-direction: column; 
        width:100%;
        background-color: whitesmoke;
    }
}

@mixin text-input {
    padding:10px;
    border-radius:8px;
    border:none;
    width:100%;
    margin-bottom: 10px;
    margin-top:10px;
}

@mixin form-container {
    align-self: center;
    display:flex;
    flex-direction: column; 
    background-color: white;
    width:70%;
    form {
        padding-top: 50px;
        width:100%;
        align-self: center;
        display: flex;
        align-items:center;
        padding-bottom: 50px;
    }
}