@import '../../styles/component-style'; 
@import '../../styles/button-style'; 

.main-container {
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    .ulContainer {
    list-style-type: none;
    width:80%;
    .ulBooking {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:grey;
        padding:0;
        width:100%;
        .each-booking {
            width:100%;
            margin-bottom:10px;
            border:2px solid black;
            text-align: left;
            display:flex;
            flex-direction: row;
            flex-wrap:no-wrap;
            justify-content: space-between;
            p {
                font-size: 10pt;
                padding-left:5px;
                padding-right: 10px
            }
            .edit-btn {
                border:none;
                width:20%;
                margin:10px;
                button {
                    background-color: gainsboro;
                    color:black;
                    border:none;
                    text-decoration: none;
                    width:100%;
                    border-radius: 42px;
                    padding:5px;
                    a {
                        text-decoration: none;
                        color:black;
                    }a:visited {
                        text-decoration: none;
                        color:black;
                    }
                } button:hover {
                cursor:pointer;
                box-shadow: 2px 3px 8px lightgray;
            }
        }
    }

    }
    }
}

@media only screen and (max-width: 650px) {
    .main-container {
        .ulContainer {
        width:90%;
        .ulBooking { 
        align-items: center;
            .each-booking {
                text-align: center;
                width:90%;
                flex-wrap: wrap;
                justify-content: center;
                padding:10px;
                margin:10px;
                p {
                    font-size: 10pt;
                    width:100%;
                    margin:0;
                }
        }
        }
        }
    }
    
}