@import '../../styles/component-style.scss';
   
    .placeholder {
        display:flex;
        flex-direction: column; 
        justify-content: center;
        align-content: center;
        .email-input-form {
            align-self: center;
            display:flex;
            flex-direction: column; 
            background-color: whitesmoke;
            width:90%;
            .email-input {
                padding-top: 50px;
                width:60%;
                align-self: center;
                text-align: left;
                border:none;
                label {
                    font-size: 14pt;
                    font-weight: bold;
                }
                input {
                    padding:10px;
                    border-radius:8px;
                    border:2px solid black;
                    width:100%;
                }
            } 
            .cta-find-time {
                width:30%;
                align-self: center;
                text-align: center;
                margin-bottom: 50px;
                button {
                    width:100%;
                    align-self: center;
                }
                :disabled {
                    border-radius: 42px;
                    background-color: lightslategrey;
                }
            }
            div {
                padding:0px;
                margin-top:15px; //remove 
                transition: background-color 0.7s, transform 0.7s;
                width:30%;
                text-align: center;
                height:35px;
                background-color: #4e6096;
                border-radius:42px;
                cursor:pointer;
                text-decoration:none;
                button {
                    cursor:pointer;
                    align-self: center;
                    height:100%;
                    width:100%;
                    font-size: 12pt;
                    font-weight: bold;
                    border:none;
                    text-decoration: none;
                    background-color:transparent;
                    color:white; 
                }
            }

        }


        .form-container{
            align-self: center;
            display:flex;
            flex-direction: column;
            background-color: whitesmoke;
            width:90%;
            .booking-info {
                padding-top:50px;
                align-self: center;
                text-align: center;                
            }
            h2{
                text-align: center;
            }
            form {
                padding-bottom: 50px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .input-container {
                   width:60%;
                    border:none;
                    label {
                        font-size: 16pt;
                        font-weight: bold;
                    }
                    input {
                        padding:10px;
                        border-radius:8px;
                        border:none;
                        width:100%;
                        margin-bottom: 10px;
                        margin-top:10px;
                    }
                }
                .additional-info{
                    width: 80%;
                    border:none;
                    label {
                        font-size: 16pt;
                        font-weight: bold;
                    }
                    textarea {
                        padding:10px;
                        border-radius:8px;
                        border:none;
                        width:100%;
                        margin-bottom: 10px;
                        margin-top:10px;
                    }
                }
                .cta-book{
                    padding:0px;
                    margin-top:15px; //remove 
                    transition: background-color 0.7s, transform 0.7s;
                    width:30%;
                    text-align: center;
                    height:35px;
                    background-color: #4e6096;
                    border-radius:42px;
                    cursor:pointer;
                    text-decoration:none;
                    button {
                        cursor:pointer;
                        align-self: center;
                        height:100%;
                        width:100%;
                        font-size: 12pt;
                        font-weight: bold;
                        border:none;
                        text-decoration: none;
                        background-color:transparent;
                        color:white; 
                    }button:disabled {
                        cursor:none;
                        border-radius: 42px;
                        background-color: lightslategrey;
                    }
                }.cta-book:hover {
                    background-color: lightsalmon;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
       .placeholder{
            .form-container {
                width:90%;
                form {
                    width:90%;
                    .cta-book {
                        cursor:touch;
                        font-size: 16pt;
                    }
                }
            }
       } 

    }


