@import "../../styles/component-style";
@import "../../styles/button-style";
@import "../../styles/form-style";

@media only screen and (max-width: 600px) {
  .placeholder {
    .form-container {
      width: 90%;
      form {
        width: 90%;
        .cta-book {
          cursor: touch;
          font-size: 16pt;
        }
      }
    }
  }
}

.placeholder {
  @include form-container;
  margin-top: 10px;
  padding-top: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;
  .email-input-form {
    @include form-container;
    padding-top: 0px;
    margin-top: 10px;
    .email-input {
      padding-top: 50px;
      width: 60%;
      align-self: center;
      text-align: left;
      border: none;
      label {
        @include label;
      }
      input {
        background-color: whitesmoke;
        margin-top: 10px;
        padding: 10px;
        border-radius: 8px;
        border: none;
        width: 100%;
      }
    }
    .cta-find-time {
      @include button-container;
      button {
        @include main-button;
      }
      button:disabled {
        @include button-disabled;
      }
    }
  }

  .form-container {
    @include form-container;
    .booking-info {
      align-self: center;
      text-align: center;
    }
    h2 {
      text-align: center;
      padding-top: 20px;
      font-size: 28pt;
    }
    form {
      @include form-container;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .input-container {
        width: 60%;
        border: none;
        label {
          @include label;
        }
        input {
          @include text-input;
          background-color: whitesmoke;
        }
        :disabled {
          font-style: oblique;
          background-color: rgb(191, 214, 221);
        }
      }
      .additional-info {
        width: 80%;
        border: none;
        label {
          @include label;
        }
        textarea {
          @include text-input;
          background-color: whitesmoke;
        }
      }
      .cta-book {
        @include button-container;
        button {
          @include main-button;
        }
        button:disabled {
          @include button-disabled;
        }
        button:hover {
          background-color: lightsalmon;
        }
      }
    }
  }
}
