@import '../../styles/component-style'; 
@import '../../styles/button-style'; 

@media only screen and (max-width: 700px) {
  
.start-page { 
        width:100%;
        display:flex;
        flex-direction: column;
        align-self: center;
        .image-container {
            align-self: center;
            width:200px;
            height:150px;
            border-radius:40px;
            margin-top: 100px;
            margin-bottom:50px;
            .detail{
                width:70%;
                height:80%;
                position: absolute;
                .small-detail {
                    width:50px;
                    height:50px;
                    border-radius:50%;
                    position: absolute;
                    background: radial-gradient(farthest-corner at 30% 10%, #ffeadb 10%, #ff7e67 60%);      
                }
                #wasabi {
                    bottom:117%; 
                    left:45%;
                    animation: slide-bottom 1.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) both; 
                }
                #wasabi-1 {
                    bottom:117%;
                    left:10%;
                    width:20px;
                    height:20px;
                    animation: slide-bottom 2s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
                }
                #cucumber {
                    bottom:117%;
                    left:30%;
                    height:50px;
                    width:50px;
                    animation: slide-bottom 2s cubic-bezier(0.900, 0.040, 0.980, 1.335) both; 
                }
                #cucumber-1 {
                    bottom:123%;
                    left:25%;
                    width:25px;
                    height:25px;
                    animation: slide-bottom 2.2s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
                }
                #ginger{
                    bottom:117%;
                    left:15%;
                    animation: 
                        slide-bottom 2.1s cubic-bezier(0.600, 0.040, 0.980, 0.335) both; 
                }
                #ginger-1 {
                    bottom:119%;
                    left:50%;
                    width:20px;
                    height:20px;
                    animation: slide-bottom 1.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
                }
            }
            .sushi {
                background: linear-gradient(90deg, #68b0ab, #006a71);
                border-top:2px solid  #68b0ab;
                overflow: hidden;
                margin: 0 auto;
                width: 200px;
                height: 200px;
                border-radius: 80px/20px;
                animation: glow 3s ease-in-out infinite alternate;
                }
                .sushi-filling {
                    width:200px;
                    height:20px;
                    background: radial-gradient(rgba(179, 179, 179, 0.925) 20%, white 80%, whitesmoke 90%); 
                    border-radius: 280px/15px;
                }
        }
        .main-text-container {
            align-self: center;
            width:80%;
            text-align: center;
            box-shadow: 0px 50px #ff7e67;
            margin:10px;
            h1 {
                text-align: center;
                color:#ff7e67 ;
                font-size: 36pt;
            }
            .cta-startpage {
                height:30px;
                margin-top:50px;
                text-align: center;
                margin-bottom:50px;
                button {
                    @include main-button;
                    animation: button-attention 2.3s cubic-bezier(0.690, 0.575, 0.965, 1.000) both;   
                }  
            }
        }
}

}

.start-page { 
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        .image-container {
            width:200px;
            height:150px;
            border-radius:40px;
            position: relative;
            .detail{
                width:100%;
                height:80%;
                border-radius:40px;
                position: relative;
                margin-bottom: 50px;
        
                .small-detail {
                    width:50px;
                    height:50px;
                    border-radius:50%;
                    position: absolute;
                    background: radial-gradient(farthest-corner at 30% 10%, #ffeadb 10%, #ff7e67 60%);      
                }
                #wasabi {
                    top: 26%;
                    left: 20%;
                    animation: slide-bottom 1.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) both; 
                }
                #wasabi-1 {
                    top: 50%;
                    left: 12%;
                    width:20px;
                    height:20px;
                    animation: slide-bottom 2s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
                }
                #cucumber {
                    height:50px;
                    width:50px;
                    top: 30%;
                    left: 40%;
                    animation: slide-bottom 2s cubic-bezier(0.900, 0.040, 0.980, 1.335) both; 
                }
                #cucumber-1 {
                    top: 15%;
                    left: 40%;
                    width:25px;
                    height:25px;
                    animation: slide-bottom 2.2s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
                }
                #ginger{
                    top: 25%;
                    left: 60%;
                    animation: 
                        slide-bottom 2.1s cubic-bezier(0.600, 0.040, 0.980, 0.335) both; 
                }
                #ginger-1 {
                    top: 20%;
                    left: 60%;
                    width:20px;
                    height:20px;
                    animation: slide-bottom 1.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
                }
            }
            .sushi {
                background: linear-gradient(90deg, #68b0ab, #006a71);
                border-top:2px solid  #68b0ab;
                overflow: hidden;
                margin: 0 auto;
                width: 200px;
                height: 200px;
                border-radius: 80px/20px;
                animation: glow 3s ease-in-out infinite alternate;
                }
                .sushi-filling {
                    width:200px;
                    height:20px;
                    background: radial-gradient(rgba(179, 179, 179, 0.925) 20%, white 80%, whitesmoke 90%); 
                    border-radius: 280px/15px;
                }
        }
        .main-text-container {
            width:50%;
            text-align: left;
            box-shadow: 0px 50px #ff7e67;
            h1 {
                text-align: center;
                color:#ff7e67 ;
                font-size: 56pt;
            }
            .cta-startpage {
                height:30px;
                margin-top:50px;
                text-align: center;
                button {
                    @include main-button;
                    animation: button-attention 2.3s cubic-bezier(0.690, 0.575, 0.965, 1.000) both;   
                }  
            }
        }
}

@keyframes load {
    0% {
        width:0%;
        display: none;
    }
    50% {
        width:0%;
        display: none;
    }
    100% {
        width:100%;
    }
}
@keyframes glow {
    to {
      box-shadow: 10px 0 20px #eeeeee, 0 0 30px  #ff9a76, 0 0 40px #ffeadb, 0 0 50px #ffeadb, 
                   0 0 60px #ffeadb, 0 0 70px #ff9a76, 0 0 80px #ffeadb;
    }
}

@keyframes button-attention {
    0% {
        opacity: 0;
        background-color: transparent;
    }
    90% {
        border:2px solid black;
    }
    100% {
        background-color: white;
        border:2px solid black;
        box-shadow: 10px 10px black;
    }
}
@keyframes slide-bottom {
    0% {
        transform: translateY(0);
    }
    20% {
        box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.35);
    }
    50% {
        box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.35);
    }
    70% {
        box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.35);
    }
    100% {
        border-radius:40px 40px 35px 30px;
        transform: translateY(100px);
        box-shadow:1px 1px px 1px rgba(0, 0, 0, 0.521);
    }
}
    
