@import '../../styles/component-style'; 
@import '../../styles/button-style'; 

    .placeholder { 
        @include content-container;  
        .image-container {
            display:flex;
            flex-direction: row;
            justify-content: center;
            background-color: orangered;
            .chef {
                opacity:0.6;
                width:50%;
                border-radius:1111px 0px 0px;
                transition: opacity 0.7s, transform 0.7s;
            }
            .ramen {
                opacity:0.6;
                width:50%;
                height:auto;
                border-radius:0px 0px 1111px;
                transition: opacity 0.7s, transform 0.7s;
            }
            .chef:hover {
                opacity:1;
            }
            .ramen:hover {
                opacity:1
            }
        }
        .text-container {
            margin-top:50px;
            padding:0px 20px 0px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-self:center;
            width:100%;
            img {
                width:10%;
           
            }
            p {
                align-self:center;
                width:30%;
                margin:10px;
                padding-left:10px;
                text-align: left;
                font-style: italic;
                font-size: 12pt;
                padding-left:10px;
            }
            .cta-startpage {
                @include button-container; 
                button {
                    @include main-button; 
                } 
            }
        }

    }

    @media only screen and (max-width: 650px) {
        .placeholder {  
            display:flex;
            flex-direction: row; 
            justify-content: center;
            align-content: center;
            .image-container {
                display:flex;
                flex-direction: column;
                align-items: left;
                .chef {
                    width:100%;
                }
                .ramen {
                    width:50%;
                }
            }
            .text-container {
                margin-top:50px;
                padding:0px 20px 0px 20px;
                display: flex;
                flex-direction: row;
                flex-wrap:wrap-reverse;
                justify-content: space-evenly;
                align-self:center;
                width:100%;
                img {
                    width:90%;
                }
                p {
                    align-self:center;
                    width:80%;
                    margin:40px;
                    padding-left:10px;
                    text-align: left;
                    font-style: italic;
                    font-size: 12pt;
                    padding-left:10px;
                }
                .cta-startpage {
                    width:50%;
                    button {
                        text-align: center;
                        width:100%;
                    } 
                }
              
            }
    
        }
    
 
     }
