@import '../../styles/button-style'; 
.deleted-booking {
    color:black;
    text-align: center;
    padding-top: 50px;
    h4 {
        font-size: 16pt;
    }
    a {
    text-align: none;
    @include main-button; 
    }a:visited {
        text-decoration:none;
        color:white;
    }

}