.deleted-booking {
    color:black;
    text-align: center;
    padding-top: 50px;
    h4 {
        font-size: 16pt;
    }
    a {
    text-align: none;
    }a:hover {
        background-color: lightsalmon;
    }a:visited {
        text-decoration:none;
        color:black;
    }

}